
        body {
            background-color: #1cbfca;

        }
        hr {
            background-color: white;
            border-style: none;
            border-color: grey;
            border-width: 5px;
            width: 30%;
            border-top: dotted;
            width: 10%;
        }
        h1 {
            color: #66BFBF;
        }
        h3 {
            color: #66BFBF;
        }
        h2 {
            color: #66BFBF ;
        }